<% provide(:title, "Log in") %>

<!DOCTYPE html>

<html>
    <head>
        <title><%= yield(:title) %> | Zen Blog App</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
  
      <h1>Log in</h1>

      <div class="row">
        <div class="myinputcontainer">
          <%= form_for(:session, url: login_path) do |f| %>
    
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
      
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
      
            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>
            <p></p>
          <div id="mytext">New user?<%= link_to "Sign up now!", signup_path %></div>
    
        </div>
  
      </div>

    </body>
    
</html>