<!--displays the footer for the application layout. --> 
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "FAQ", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
  <small><div class="bloglinks">Design by: <a href="http://www.gx2research.com/" target="_blank">gx2research</a> &copy;2015</div></small>
</footer>