<ul class="nav">
    <%= link_to image_tag("personalblog4.png", :width => 100, :height => 100, :alt => "Blog logo", :crop => :fill, :style => "border: 2px solid purple") %>
  <li><div class="mytext2">Music</div></li>
    <li><%= link_to "Audio", '#' %></li>
    <li><%= link_to "Video", '#' %></li>
  <li><div class="mytext2">Fans</div></li>
    <li><%= link_to "Concerts", '#' %></li>
    <li><%= link_to "Images", '#' %></li>
    <li><%= link_to "Mailing List", '#' %></li>
    <li><%= link_to "Forum", '#' %></li>
    <li><%= link_to "Store", '#' %></li>
  <li><div class="mytext2">Spiritual</div></li>
    <li><%= link_to "Meditation", '#' %></li>
    <li><%= link_to "Journeys", '#' %></li>
  <li><div class="mytext2">Misc</div></li>
    <li><%= link_to "Privacy", '#' %></li>
    <li><h4><%= link_to "1, 118 Reviews", '#', class: 'btn btn-info btn-xs' %></h4></li>
</ul>