<ul class="nav">
  <li><div class="mytext">Music</div></li>
    <li><%= link_to "Audio", '#' %></li>
    <li><%= link_to "Video", '#' %></li>
  <li><div class="mytext">Fans</div></li>
    <li><%= link_to "Concerts", '#' %></li>
    <li><%= link_to "Images", '#' %></li>
    <li><%= link_to "Mailing List", '#' %></li>
    <li><%= link_to "Forum", '#' %></li>
    <li><%= link_to "Store", '#' %></li>
  <li><div class="mytext">Spiritual</div></li>
    <li><%= link_to "Meditation", '#' %></li>
    <li><%= link_to "Journeys", '#' %></li>
  <li><div class="mytext">Misc</div></li>
    <li><%= link_to "Privacy", '#' %></li>
    <li><h4><%= link_to "1, 118 Reviews", '#', class: 'btn btn-info btn-xs' %></h4></li>
</ul>